.card{
    width: calc(25% - 1rem);
    margin: 1rem;
}
.card-title{
    text-align: center;
    color: var(--azul);
}
.card-desc{
    color: #5F6A6A;
    line-height: 1.5;
}

.card-container{
    padding-top: 6rem;
}

.proyecto{
    width: 50%;
    height: 40rem;
    overflow: hidden;
    position: relative;
}
.proyecto img{
    transition: all .3s ease;
}
.proyecto:hover img{
    transform: scale(1.2);
}
.proyecto-desc{
    position: absolute;
    z-index: 2;
    width: 100%;
    background-image: linear-gradient(rgba(40, 55, 71, .5), rgba(40, 55, 71, .95), var(--navy));
    bottom: 0;
    color: white;
    padding: 1rem;
}
.proyecto-title{
    text-align: center;
    color: var(--naranja);
}