.card-container{
    position: relative;
    margin-top: calc(30% - 10rem);
}
.project-desc{
    padding: 1rem;
}
.project-desc .button-container-small{
    justify-content: space-around;
}
.project-title{
    font-size: 2rem;
    color: var(--gris);
    margin: 1rem 0;
}
.project-desc .btn-secundary{
    color: white;
}