footer{
    width: 100%;
    min-height: 20rem;
    background-color: var(--navy);
    padding: 3rem 0;
    color: white;
}
footer .container{
    background: url(../../assets/img/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
    padding: 0;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
footer .container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

footer h2 i{
    background-image: linear-gradient(to bottom right, var(--lila), var(--naranja));
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div1-footer{
  margin: 3rem;
}
form{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
    width: 100%;
    color: var(--gris);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.div-form{
    margin-top: 6rem;
    position: relative;
}

label{
    display: block;
    position: absolute;
    z-index: 0;
}
input, textarea{
    width: 100%;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--gris);
    transition: all .3s ease;
    caret-color: var(--gris);
}
input:focus{
    border-bottom: 1px solid var(--azul);
}
textarea{
    width: 100%;
    height: 15rem;
    border: 1px solid var(--gris);
    border-radius: 1rem;
    outline: transparent;
    padding: 1rem;
}
textarea:focus{
    border: 1px solid var(--azul);
}

.test-footer{
    width: 50%;
    min-height: 10vh;
    height: 100%;
    flex-grow: 1;
    position: relative;
    z-index: 1;
}
@media only screen and (min-width: 76.8rem){
  .div1-footer{
    margin: 0 auto;
  }
   form{
     width: 50%
    }
}
