@keyframes gravity1 {
    0% {
      bottom: 0px;
    }

    50% {
      bottom: 3rem;
    }

    100% {
      bottom: 0px;
    }
  }

.cursos{
    margin-top: 12rem;
    position: relative;
    background: url(../../assets/img/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background-attachment: fixed;
}

.ilustration{
    position: absolute;
    top: 10rem;
    left: 0;
    z-index: -1;
    width: 10rem;
}

.card-cursos{
    width: calc(50% - .5rem);
    background-image: linear-gradient( to bottom right, var(--lila), var(--naranja) );
    box-shadow: 0 5px 20px rgba(40, 55, 71, .5);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    position: relative;
    margin-bottom: 3rem;
    transition: all .3s ease;
    z-index: 5;
}
@media only screen and (min-width: 76.8rem){
   .card-cursos{
       width: calc(33.3% - 1rem);
    }
    .cursos{
      background-position: center center;
    }
}

.card-cursos:hover{
  cursor: pointer;
  animation: none!important;
}

.card-cursos h4{
    text-align: center;
}
.card-cursos p{
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: initial;
}
.card-cursos i{
    width: 2rem;
    color: var(--gris);
    margin-right: .5rem;
    font-size: 1.8rem;
}
.test{
  width: 10rem;
  position: absolute;
  bottom: 1.5rem;
  left: 3rem;
  z-index: 2;
}
