html{
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after{
  box-sizing: inherit;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
input:focus,button:focus{
  outline: none;
}
li{
  list-style: none;
}

/* ===============================================================================
    Utilidades
 =============================================================================== */
:root{
  --azul: #00b0f0;
  --girs: rgb(198, 197, 196);
  --naranja: rgb(224, 0, 0);
}
.container{
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.titulo{
  text-align: center;
  color: var(--azul);
  font-size: 3.5rem;
}

.text-center{
  text-align: center;
}

.btn-container{
  justify-content: center;
  padding: 3rem 0;
}
.two-buttons{
  justify-content: space-around;
}
.button{
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  transition: all .3s ease;
  background-color: transparent;
}
.button:hover{
  cursor: pointer;
}
.btn-primary{
  border: 1px solid var(--azul);
  background-color: var(--azul);
  color: white;
}
.btn-primary:hover{
  box-shadow: 5px 5px 10px rgba(0,176,240,.4);
}

.btn-secundary{
  color: rgb(224, 0, 0);
  border: 1px solid var(--naranja);
}
.btn-secundary:hover{
  box-shadow: 5px 5px 10px rgba(224, 0, 0, .2);
}
