html{
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-size: 1.6rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after{
  box-sizing: inherit;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}
input:focus,button:focus{
  outline: none;
}
li{
  list-style: none;
}
section{
  min-height: 100vh;
  padding: 12rem 0;
}
h1,h2,h3{
  margin-top: 0;
}

/* ===============================================================================
    Utilidades
 =============================================================================== */
:root{
  --azul: #01ABF5;
  --azul2: #177899;
  --gris: rgb(198, 197, 196);
  --naranja: #E6992E;
  --lila: #AD13A1;
  --navy: #283747;
}
.white{
  color: white!important;
}
.container{
  max-width: 120rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.titulo{
  text-align: center;
  color: var(--azul);
  font-size: 4.5rem;
  position: relative;
}
.titulo::after{
  content: '';
  width: 30rem;
  height: .5rem;
  background-image: linear-gradient(to bottom right, var(--naranja), var(--lila), var(--naranja));
  position: absolute;
  top: 7rem;
  left: calc(50% - 15rem);
}

.text-center{
  text-align: center;
}

.btn-container{
  justify-content: center;
  padding: 3rem 0;
}
.center{
  justify-content: center;
}

.two-buttons{
  justify-content: space-around;
}
.button{
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
  transition: all .3s ease;
  background-color: transparent;
}
.button-small{
  font-size: 1.6rem;
  padding: .5rem;
  transition: all .3s ease;
  background-color: transparent;
  border-radius: .5rem;
}
.button:hover{
  cursor: pointer;
}
.btn-primary{
  border: 1px solid var(--azul);
  background-color: var(--azul);
  color: white;
}
.btn-primary:hover{
  box-shadow: 5px 5px 10px rgba(0,176,240,.4);
}

.btn-secundary{
  color: var(--naranja);
  border: 1px solid var(--naranja);
  margin-right: 3rem;
}
.btn-secundary:hover{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(230, 153, 46, .4);
}
